*{
    padding: 0;
    margin: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* ヘッダー関係 */
header{
    display: flex;
    /* flex-direction:row ; */
    /* justify-content: space-between; */
    /* text-align:center; */
    justify-content: space-between;
    font-size:20px;
    background-color: #3da1ff;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* z-index: 1; */
    /* z-indexプロパティでは、値を整数で入力し、大きい数値のものほど手前に表示されます */
}



.site_name{
    display: flex;
    flex-direction:row ;
    justify-content:flex-start;
    align-items: center;
    margin: 0 0 auto;
}


.header_list{
    /* display: flex; */
    /* flex-direction:row ;
    justify-content:flex-end;
    align-items: center; */
    margin: auto 0 auto auto;
    text-align: center;

}

.header_list_ul{
    display: flex;
    flex-direction:row ;
}

.header_list_list{
    list-style: none;
    padding-left: 0;
    display: inline-block;
    margin: 10px;
    
}

/* ヘッダー消えるアニメーション */
#header{
	position: fixed;
	top: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #aaa;
	transition: all 0.3s ease-out;
}
#header.fixed-hide{
	top: -50px;
}
/* 背景について */
/* .background {
    background-image: url("/asset/img/Whale-Shark-Oslob-Cebu-Philippines-Aerial-View-Project-LUPAD.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    opacity: 1; /* 透過率を指定する */
/* } */
   */


/* リコりちょんタイトル */
.title_riko{
    margin: 0 auto;
    text-align: center;
    margin: 50px 0 0 0;
}

.title_riko_h1{
    font-size: 36px;
    font-family: 'Lobster', cursive;
    margin: 50px 0 0 0;
    text-align: center;
}


/* スライドショー */

/* #slideshow {
    position: relative;
   width:  100vw; /* 画像の横幅に合わせて記述 */
   /* height: 270px; /* 画像の高さに合わせて記述 */
/* }
#slideshow img {
    position: absolute;
    top: 300px;
    left:0;
    z-index: 8;
    opacity: 0.0;
}
#slideshow img.active {
    z-index: 10;
    opacity: 1.0;
}
#slideshow img.last-active {
    z-index: 9;
} */ 

/* .riko_photo{
    width:100vw;
    height: 20px;
} */
/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
    /* top:100px;
    height: 100%; */
}

.slider img {
    width:50vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    /* object-fit: cover; */
}

.slider .slick-slide {
	transform: scale(0.7);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next{
    position:absolute;/*絶対配置にする*/
    top: 40%;
    cursor: pointer;       /*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:70px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 10px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:20px;/*ドットボタンのサイズ*/
    height:20px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}




/* レーティング */
.ratings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
}

.ratings-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    /* font-family:'Meiryo', sans-serif; */
}

.rating-label {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star {
    display: inline-block;
    width:30px;
    height:30px;
    background-image: url("/asset/img/star.jpg");
    background-size: contain;
}
/* なんで星のサイズ変わらんのか知る必要あり。 */

.empty {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/asset/img/empty-star.jpg");
    background-size: contain;
}

.rating-value {
    margin-left: 20px;
    font-size: 30px;
}


.star {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/asset/img/star.jpg");
    background-size: contain;
    transition: background-position 0.1s ease-in-out;
}


.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.star-rating {
    font-size: 0;
}

.star {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* margin: 0 5px; */
    background-image: url('/asset/img/star.jpg');
    background-size: contain;
    animation: enlarge-rotate 1s ease-in-out forwards;
}

@keyframes enlarge-rotate {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.5) rotate(360deg);
    }
    100% {
    transform: scale(1.2) rotate(360deg);
    }
}

/* .star:hover,
.star.active {
    background-position: 0 -20px;
} */

/* .star {
    animation: rotateStar 1s linear infinite;
}

@keyframes rotateStar {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
} */

/* リコ店説明 */
.riko_descri_container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.riko_descri_left {
    flex: 0 0 40%;
    padding: 20px;
}

.riko_descri_right {
    flex: 0 0 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.riko_descri_h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.riko_descri_p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.riko_descri_img {
    max-width: 50%;
    /* height: 960px;
    width: 672px; */
}

/* 地図について */
#map,.kankoku_map ,.ramen_map ,.jolli_map,.night_map {
    height: 400px;
    width: 100%;
}
